/*
 * Dieses Stylesheet darf nur Selektoren beinhalten, die mit .quiz-question-view
 * beginnen. Denn wir wollen nicht, dass hier Eigenschaften aus anderen Bereichen
 * der Anwendung überschrieben werden.
 */
 @import url('https://fonts.googleapis.com/css?family=Amatic+SC:700');


 .quiz-question-view main {
    color: white !important;
    font-size: 100%;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    background-image: none;

    display: flex;
    justify-content: center;
    /*align-items: center;*/
    min-height: 100%;

 }

 .quiz-question-view main #quiz-box,
  .quiz-question-view main #score-box {
     padding-left: 5%;
     padding-right: 5%;
     padding-top: 10%;
     padding-bottom: 10%;

     border-style: groove;
     border-radius: 10px;
     border-width: 5px;
     /*border-color: var(--header-normal-background-color);
     background-color: var(--header-normal-background-color);*/
     background-image: url(wood.jpg);


     margin-top: 20%;
     margin-bottom: 20%;
 }

/*Wenn quiz-box die Klasse vis hat - also visible sein soll
display:grid für Alignment*/
.quiz-question-view .vis {
    /*Aligment der Elemente im QuizBox*/
    display: grid;
    flex-direction: row;
    align-items: center;
}

/*Wenn quiz-box oder score-box die Klasse hidden hat -  display:none */
.quiz-question-view .hidden {
    display: none;
}

 .quiz-question-view .question-number {

 }
 .quiz-question-view .question {


 }
 .quiz-question-view .result {

 }

/*Wenn die Antowort falsch ist*/
 .quiz-question-view .false {
     color:#f70c23;
 }

 /*Wenn die Antowort richtig ist*/
 .quiz-question-view .true {
     color: #04f90f;
 }


.quiz-question-view .answer {
    width: 100%;


}
.quiz-question-view .quiz-buttons{
    /*die Buttons am ende des QuizBox anzuzeigen*/
    align-self: flex-end;
}


.quiz-question-view .quit,
.quiz-question-view .submit-button,
.quiz-question-view .next-button {
    color: black;
    background-color: white;
    width: 90%;
    height: 100%;


}



.quiz-question-view .congrats {

}



/*Für kleinere Bildschirme*/
@media screen and (min-width: 85em) {
    .quiz-question-view main #quiz-box{
        height: 500px;
        margin-top: 10%;
        margin-bottom: 10%;
        padding: 10px;
    }

    .quiz-question-view .question-number {


    }
    .quiz-question-view .question {



    }
    .quiz-question-view .answer {

    }

    .quiz-question-view .quit{

    }

    .quiz-question-view .quit,
    .quiz-question-view .submit-button,
    .quiz-question-view .next-button {
    }
}
