/*
 * Dieses Stylesheet darf nur Selektoren beinhalten, die mit .quiz-question-view
 * beginnen. Denn wir wollen nicht, dass hier Eigenschaften aus anderen Bereichen
 * der Anwendung überschrieben werden.
 */
 @import url('https://fonts.googleapis.com/css?family=Amatic+SC:700');

.quiz-question-view #app {

}
 .quiz-question-view main {
     /*Font*/
    color: white !important;
    font-size: 100%;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;

    /*Die Elemente in main richtig stellen zu können*/
    display: flex;
    justify-content: center;

    /*Die Größe, Marginund Padding*/
    min-height: 100%;
 }

/* Allgemeines Style für quiz-box und score-box*/
 .quiz-question-view main #quiz-box,
 .quiz-question-view main #score-box {

     /*Padding und Margin*/
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 15%;
    margin-bottom: 15%;

    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10%;
    padding-bottom: 10%;

    /*Border-Style*/
     border-style: groove;
     border-radius: 10px;
     border-width: 5px;
     background-image: url(wood.jpg);
     background-size: 100% auto;

     /*Text-Alignment*/
     text-align: center;
 }

/*Wenn quiz-box die Klasse vis hat - also visible sein soll
display:grid für Alignment*/
.quiz-question-view #quiz-box.vis,
.quiz-question-view #score-box.vis {
    /*Aligment der Elemente im QuizBox*/
    display: grid;
    flex-direction: row;
    align-items: center;
}


.quiz-question-view .leo {
        width: 100%;
}
.quiz-question-view .score {
        font-size: 45pt;
}

.quiz-question-view .zurück {
        width: 100%;
        align-self: flex-end;
}



 .quiz-question-view .question-number {
     font-size: 35pt;

 }
 .quiz-question-view .question {
     font-size: 60pt;
 }

 .quiz-question-view .answer {
     font-size: 30pt;
     width: 100%;
 }
 .quiz-question-view .result {
     font-size: 25pt;
 }
/*Wenn die Antowort falsch ist*/
 .quiz-question-view .false {
     color:#f70c23;
 }

 /*Wenn die Antowort richtig ist*/
 .quiz-question-view .true {
     color: #04f90f;
 }


.quiz-question-view .quiz-buttons{
    /*die Buttons am ende des QuizBox anzuzeigen*/
    align-self: flex-end;
}


.quiz-question-view .quit,
.quiz-question-view .submit-button,
.quiz-question-view .next-button {
    color: black;
    background-color: white;
    width: 100%;
    height: 100%;
}



.quiz-question-view .congrats {

}



/*Für kleinere Bildschirme*/
@media screen and (min-width: 85em) {
    .quiz-question-view main #quiz-box{
        height: 100%;
        margin-top: 10%;
        margin-bottom: 10%;
        padding: 5%;
    }

    .quiz-question-view .question-number {


    }
    .quiz-question-view .question {



    }
    .quiz-question-view .answer {

    }

    .quiz-question-view .quit{

    }

    .quiz-question-view .quit,
    .quiz-question-view .submit-button,
    .quiz-question-view .next-button {
    }
}
