/*
 * Dieses Stylesheet darf nur Selektoren beinhalten, die mit .quiz-question-view
 * beginnen. Denn wir wollen nicht, dass hier Eigenschaften aus anderen Bereichen
 * der Anwendung überschrieben werden.
 */
 @import url('https://fonts.googleapis.com/css?family=Amatic+SC:700');


 .quiz-question-view main {
    color: white !important;
    font-size: 100%;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    background-image: none;

 }

 .quiz-question-view main #quiz-box{
     border-style: groove;
     border-radius: 10px;
     padding: 15px;
     border-width: 5px;
     border-color: var(--header-normal-background-color);
     background-color: var(--header-normal-background-color);

    height: 800px;
    margin-top: 20%;
    margin-bottom: 20%;
 }




.quiz-question-view .answer {

}
.quiz-question-view .quiz,
.quiz-question-view .submit,
.quiz-question-view .next {
    color: white;

}
@media screen and (min-width: 85em) {
    .quiz-question-view main #quiz-box{
        height: 400px;
        margin-top: 10%;
        margin-bottom: 10%;
    }
}
