/*
 * Dieses Stylesheet darf nur Selektoren beinhalten, die mit .song-display-edit
 * beginnen. Denn wir wollen nicht, dass hier Eigenschaften aus anderen Bereichen
 * der Anwendung überschrieben werden.
 */
@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700');

.vocabulary-display-edit main {
   color: orchid !important;
   font-size: 100%;
   font-family: 'Amatic SC', cursive;
   font-weight: bold;
}

.vocabulary-display-edit .container{
    font-size: 70%;
    color: black;
    margin-bottom: 5em;
    background-image: url(/paper.jpg);
    }

.vocabulary-display-edit .row{
    margin-top: 2em;
    font-size: 60%;
    color: black;
    text-align: left;
    }
